{% extends 'wiki_app/base.html' %}

{% block content %}
{# render entries in a grid with related items listed #}
<h2>All Wiki Entries</h2>
<hr/>
{% if all_entries %}
<div id="index_grid">
{% for eachEntry in all_entries %}

    <section class="index_body">
        <a href="{% url 'view_entry' eachEntry.id %}"><h3>{{ eachEntry.title }}</h3></a>
        <p>{{ eachEntry.text|slice:':250' }}...</p>
        {% for eachItem in related_items %}
            {% if eachItem.entry_model_fk.title == eachEntry.title %}
                <p>Related Item: {{ eachItem.title }}</p>
            {% endif %}
        {% endfor %}
        <em>{{ eachEntry.user_model_fk }}</em>
        <em>{{ eachEntry.update_date }}</em>

    </section>
    <section class="index_grid_image">
        <img class="index_image" src="{{ eachEntry.image.url }}" alt="image">
    </section>

{% endfor %}
</div>
{% else %}

<h2>There are no entries</h2>

{% endif %}

{% endblock %}