{% extends 'wiki_app/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

    {% if my_entries %}

    {% for entry in my_entries %}

    <a href="{% url 'view_entry' entry.id %}"><h4>{{ entry.title }}</h4></a>
    {{ entry.text }}
    <br>
    Created: {{ entry.create_date }}
    <br>
    Updated: {{ entry.update_date }}
    <br>
    <a href="{% url 'edit_entry' entry.id %}"><button>Edit Post</button></a>
    <a href="{% url 'delete_entry' entry.id %}"><button>Delete Post</button></a>
    <a href="{% url 'new_related' entry.id %}"><button>Add Related</button></a>
    <a href="{% url 'view_related' entry.id %}"><button>Edit Related</button></a>

    {% endfor %}

    {% else %}

    <h2>You have no entries</h2>

    {% endif %}

{% else %}

<h2>Please <a href="{% url 'login' %}">Log In</a> To View Your Entries</h2>

{% endif %}
{% endblock %}