{% extends 'wiki_app/base.html' %}

{% block content %}

{% if request.user.is_authenticated %}

    {% if my_entries %}

    {% for entry in my_entries %}
    <h4>{{ entry.title }}</h4>
    {{ entry.text }}
    <br>
    <img src="{{ entry.image }}" alt="image">
    <br>
    {{ entry.author }}

    <a href="{% url 'edit_entry' entry.id %}">Edit</a>
    <a href="{% url 'delete_entry' entry.id %}">Delete</a>

    {% endfor %}

    {% else %}

    <h2>You have no entries</h2>

    {% endif %}

{% else %}

<h2>Please Log In To View Your Entries</h2>

{% endif %}
{% endblock %}