{% extends 'wiki_app/base.html' %}
{# no longer nescessary bc related item edit/delete are in the enrty edit html#}
{% block content %}

{% if related %}

{% for eachItem in related %}
<h3>{{ eachItem.title }}</h3>
<p>{{ eachItem.text }}</p>
Created: {{ eachItem.create_date }}
<br>
Updated: {{ eachItem.update_date }}
<br>
<a href="{% url 'edit_related' eachItem.id %}"><button class="btn btn-light">Edit</button></a>
<a href="{% url 'delete_related' eachItem.id %}"><button class="btn btn-light">Delete</button></a>
<br>
{% endfor %}
<a href="{% url 'my_entries' %}">Back</a>
{% else %}
<h2>There is no related info </h2>
{% endif %}

{% endblock %}